body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
} 
/*=========HEADER==========*/

.header-logo {
color: #4D5AE5 ;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}

.header-logo-color {
color:  #2E2F42;
} 

.header-menu-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-item {
color:  #434455;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

.header-address-item:hover {
    color: #404bbf;
}

.header-address-item:focus {
    color: #404bbf;
}

/*========================*/

/*============HERO===========*/

.hero {
    background-color: #2e2f42;
}

.hero-title {
 color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em;
background-color: #2E2F42;
}

.hero-btn {
color: #FFF;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.04em;
background-color: #4D5AE5;
cursor: pointer;
}

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}

/*===========================*/

/*==========FEATURES==========*/



.features {
}

.features-list {
}

.features-item {
}

.features-subtitle {
color:  #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.features-item-text {
color:  #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/*==============================*/

/*==========TEAM==========*/

.team {
    background-color:  #F4F4FD;
}

.team-title {
color:  #2E2F42;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-list {
}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitile {
color:  #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.team-text {
color: #434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/*==============================*/

/*==========PORTFOLIO==========*/

.portfolio-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2; /* 120% */
letter-spacing: 0.02em;
}

.portfolio-item-text {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;
}

/*==============================*/

/*==========FOOTER==========*/

.footer {
    background-color: #2e2f42;
}

.footer-logo {
    color: #4D5AE5 ;
font-family: Raleway, sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-logo-color {
    color: #F4F4FD;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-text {
color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.02em;

background-color: #2E2F42;
}

/*==============================*/